* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5d04e;
  font-family: sans-serif;
}

.main {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
  align-items: start;
  background-color: white;
  border-radius: 20px;
  border: 2px black solid;
  box-shadow: 10px 10px 0px black;
}

.first {
  width: 100%;
  border-radius: 15px;
}

h4 {
  font-size: 1rem;
  background-color: #f5d04e;
  padding: 6px 12px;
  border-radius: 5px;
}

h3 {
  font-weight: 400;
}

h1 {
  font-size: 1.8rem;
  color: #000;
  font-size: 700;
}

p {
  font-size: 1.1rem;
  color: #9b9b9b;
  text-align: start;
  font-weight: 300;
}

.human {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 900;
}

.second{
  width: 40px;
}
