@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b4664;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#res {
  width: 400px;
  height: 100px;
  background-color: #181f32;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 3rem;
  color: #fdfefc;
  padding: 15px;
}

.func {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(5, 50px);
  justify-content: center;
  background-color: #252d44;
  border-radius: 10px;
  padding: 15px;
  gap: 15px;
}

.func div {
  background-color: #eae3db;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 900;
  color: #434b5d;
  cursor: pointer;
  transition: 0.1s all;
}

.func div:hover {
  background-color: #d0cac2;
}

.func div:active {
  transform: scale(0.9);
}

#del {
  background-color: #a2b2e1;
  color: #fbffff;
}

.func #del:hover {
  background-color: #7e96dd;
}

#reset {
  background-color: #a2b2e1;
  color: #fbffff;
  grid-column: 1/3;
  grid-row: 5/6;
}

.func #reset:hover {
  background-color: #7e96dd;
}

#equal {
  background: #f96c5b;
  color: #fbffff;
  grid-column: 3/5;
  grid-row: 5/6;
}

.func #equal:hover {
  background-color: #fa2c15;
}

.head {
  width: 400px;
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: #fffffe;
}

h1 {
  font-size: 1.8rem;
}

.left {
  display: flex;
  align-items: end;
  gap: 30px;
}

p {
  font-size: 1rem;
}

.theme {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.theme #bk {
  width: 60px;
  height: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #252d44;
  border-radius: 30px;
  justify-content: start;
}

.theme button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fb6b57;
  border: none;
  cursor: pointer;
}

.theme p {
  letter-spacing: 6px;
  font-size: 0.9rem;
  margin-left: 4px;
}
