* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

div {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
  border: 3px black solid;
  border-radius: 3px;
}

img {
  width: 75px;
}

button {
  width: 200px;
  height: 40px;
  background: black;
  color: white;
  border: none;
  border-radius: 100px;
}
