* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 75px;
  background-color: #212134;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 150px;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

#clock-txt {
  display: inline;
  position: absolute;
  z-index: 5;
  font-size: 1.75rem;
  color: #fff;
}

#herat-rate {
  position: absolute;
  z-index: 5;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 170px;
}

#Heart {
  width: 100px;
  animation: heart 1.2s infinite;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  23% {
    transform: scale(1.3);
  }

  30% {
    transform: scale(1);
  }

  44% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.rate {
  font-size: 1.5rem;
  color: #fff;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main img {
  width: 500px;
  z-index: 2;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

h1 {
  font-size: 2.5rem;
}

.info p {
  max-width: 500px;
  opacity: 0.5;
  font-weight: 700;
}

.colors {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.colors div {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

#black {
  background-color: #23211f;
}

#pink {
  background-color: rgb(233, 199, 190);
}

#red {
  background-color: #ca3d22;
}

#blue {
  background-color: rgb(86, 86, 129);
}

#purple {
  background-color: #8a5362;
}

.chois {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.chois button {
  padding: 8px 12px;
  background-color: rgb(237, 235, 235);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.buy {
  padding: 12px 26px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  background-color: rgb(255, 165, 0);
}
