* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #051d32;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.bk-div {
  background-color: #0678f2;
  width: 400px;
  height: 500px;
  position: absolute;
  border-radius: 25px;
  z-index: 0;
}

.main {
  background-color: #030342;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 1;
  border-radius: 25px;
}

p {
  color: white;
  font-size: 5rem;
  font-weight: 500;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plues,
.minuce {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #0678f2;
  transition: 0.2s all;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plues:hover {
  transform: translateY(3px);
  background-color: #0fde00;
}

.minuce:hover {
  transform: translateY(3px);
  background-color: #ff0000;
}

.refresh {
  width: 110px;
  height: 55px;
  border-radius: 15px;
  border: 5px solid #0678f2;
  background-color: #030342;
  transition: 0.2s all;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refresh:hover {
  transform: translateY(3px);
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}
audio {
  position: absolute;
  opacity: 0;
}

@media (max-width: 600px) {
  .main {
    transform: scale(0.65);
  }
  .bk-div {
    transform: scale(0.65);
  }
}
