* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url(download.jpg) no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.main {
  width: 650px;
  height: 300px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 25px blueviolet;
  flex-direction: column;
  color: #ffe600;
  font-family: sans-serif;
  text-transform: capitalize;
}

.time {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 60px;
}
