@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fcf8f5;
}

main {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 30px;
}

.main .box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 300px;
  position: relative;
}

.main .box .main-img {
  width: 300px;
  border-radius: 15px;
}

.main .box #add-to-cart {
  position: absolute;
  background-color: white;
  padding: 10px 12px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  bottom: 85px;
  border: 1px #ada3a1 solid;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s all;
}

.main .box #add-to-cart:hover {
  background-color: rgb(217, 217, 217);
}

.main .box #add-to-cart:active {
  transform: scale(0.95) translateX(-52%) translateY(2px);
}

.main .box p {
  color: rgba(0, 0, 0, 0.304);
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
}

.main .box h3 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.main .box h4 {
  color: #ba7860;
  font-size: 1.1rem;
  font-weight: 600;
}

main #Cart {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 350px;
  height: 300px;
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 15px;
  grid-row: 1/2;
  grid-column: 2/3;
}

main #Cart h2 {
  font-size: 1.5rem;
  color: #c33e0f;
  font-weight: 700;
  margin-bottom: 20px;
}

main #Cart img {
  margin: 0 auto;
}

main #Cart p {
  margin: 0 auto;
  font-weight: 600;
  color: #70615b;
  margin-top: 20px;
}
