@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;,300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fcf8f5;
}

main {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 30px;
}

.main .box {
  display: flex;
  flex-direction: column;
  align-items: safe;
  justify-content: center;
  width: 300px;
  position: relative;
}

.main .box .main-img {
  width: 300px;
  border-radius: 15px;
}

.main .box .add-to-cart {
  margin: 0 auto;
  margin-top: -30px;
  background-color: white;
  /* background-color: #c83b0e; */
  padding: 10px 12px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  bottom: 85px;
  border: 1px #ada3a1 solid;
  left: 50%;
  transition: 0.2s all;
  height: 50px;
}

.main .box p {
  color: rgba(0, 0, 0, 0.304);
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
}

.main .box h3 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.main .box h4 {
  color: #ba7860;
  font-size: 1.1rem;
  font-weight: 600;
}

main #Cart {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 350px;
  height: 300px;
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 15px;
  grid-row: 1/2;
  grid-column: 2/3;
}

main #Cart h2 {
  font-size: 1.5rem;
  color: #c33e0f;
  font-weight: 700;
  margin-bottom: 20px;
}

main #Cart img {
  margin: 0 auto;
}

main #Cart p {
  margin: 0 auto;
  font-weight: 600;
  color: #70615b;
  margin-top: 20px;
}

.add {
  display: flex;
  align-items: center;

}

.added {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  z-index: 10;
}

.added p {
  color: white;
  height: 40px;
}

.added img {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: repeat(1, 300px);
  }
}
