.d1 {
  background-color: #c1f4cf;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
  color: #c1f4cf;
}
.d2 {
  background-color: #25f23d;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
  color: #25f23d;
}
.d3 {
  background-color: #00f1ff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
  color: #00f1ff;
}
.d4 {
  background-color: #ff33ff;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
  color: #ff33ff;
}
