.d1 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
}
.d2 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
}
.d3 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
}
.d4 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 5px;
}
