* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa8072;
}

.mainDIV {
  display: flex;
  flex-direction: column;
  background-color: #ffb6c1;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  padding: 50px 20px;
  gap: 20px;
}

.mainDIV h1 {
  font-size: 26px;
}

input {
  width: 450px;
  height: 130px;
  font-size: 18px;
  padding: 0px 10px;
  padding-bottom: 50px;
}

.totalDIV {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalDIV h3 {
  color: #7b8296;
  font-size: 16px;
}

#Total {
  color: #6a5acd;
}

#Remaining {
  color: #ff4700;
}
