* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(38, 38, 38);
  width: 650px;
  height: 250px;
  border-radius: 25px;
  position: relative;
  justify-content: center;
}

#main::after {
  content: "";
  width: 30px;
  height: 20px;
  background-color: rgb(28, 28, 28);
  position: absolute;
  bottom: -20px;
  right: 35px;
  border-radius: 0px 0px 5px 5px;
}

#main::before {
  content: "";
  width: 30px;
  height: 20px;
  background-color: rgb(28, 28, 28);
  position: absolute;
  bottom: -20px;
  left: 35px;
  border-radius: 0px 0px 5px 5px;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 90%;
  height: 80%;
  background-color: rgb(63, 63, 63);
}

#buttons {
  width: 100%;
  position: absolute;
  top: -30px;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}

button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px 10px 0px 0px;
  transition: 0.2s all;
}

button:active {
  height: 25px;
  transform: translateY(5px);
}

#start {
  background-color: rgb(0, 255, 0);
}

#stop {
  background-color: rgb(255, 0, 0);
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 100px;
}
