* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url(download.jpg) no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 650px;
  height: 350px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 25px blueviolet;
  flex-direction: column;
  color: #ffe600;
  font-family: sans-serif;
  text-transform: capitalize;
}

.time {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 60px;
}

h5 {
  position: absolute;
  padding: 8px 12px;
  background-color: coral;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  z-index: 5;
  font-size: 100px;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

input{
  width: 200px;
  height: 30px;
  font-size: 1.05rem;
  background-color: blueviolet;
  border: none;
  padding: 6px 8px;
  font-family: sans-serif;
  border-radius: 10px;
}

