@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Headline:wght@200..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #192346;
  overflow-x: hidden;
}

.scoreDIV {
  width: 800px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #5f6f89;
  padding: 20px;
  border-radius: 20px;
}

.scoreDIV h1 {
  width: 100px;
  font-size: 35px;
  color: white;
}

.scoreDIV div {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.scoreDIV div p {
  color: #324ec7;
  font-weight: 500;
}

.scoreDIV div h2 {
  color: #575368;
  font-size: 35px;
}

.FingerDIV {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Finger5 {
  cursor: pointer;
}

#Finger2 {
  cursor: pointer;
}

#Finger0 {
  cursor: pointer;
}

#Finger5:active {
  transform: scale(1.1);
}

#Finger2:active {
  transform: scale(1.1);
}

#Finger0:active {
  transform: scale(1.1);
}

.ChoiceDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  display: none;
}

.choiceIMG {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.choiceIMG h2 {
  color: white;
}

.choiceIMG img {
  cursor: pointer;
}

.choiceIMG img:active {
  transform: scale(1.1);
}

button {
  width: 170px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: blue;
  cursor: pointer;
}

button:hover {
  color: red;
}

.buttonDIV {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttonDIV h1 {
  color: white;
  font-size: 50px;
}

@media (max-width: 850px) {
  .scoreDIV {
    width: 370px;
    height: 130px;
  }

  .scoreDIV div h2 {
    font-size: 25px;
  }

  .scoreDIV h1 {
    font-size: 25px;
  }

  .scoreDIV p {
    font-size: 17px;
  }

  .scoreDIV div {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 450px) {
  .scoreDIV {
    width: 350px;
    height: 130px;
  }
  img {
    width: 150px;
  }

  .ChoiceDiv {
    gap: 0px;
    margin-bottom: 200px;
  }

  .buttonDIV {
    position: relative;
    top: 200px;
    text-align: center;
  }

  .img1 {
    text-align: center;
    padding-left: 40px;
  }
  .img2 {
    text-align: center;
    padding-right: 40px;
  }

  button {
    width: 120px;
    height: 30px;
    font-size: 11px;
  }
  .choiceIMG img {
    width: 100px;
  }
  .choiceIMG h2 {
    font-size: 15px;
  }
  .buttonDIV h1 {
    font-size: 35px;
  }
}
